/* Global Styles */

* {
  font-family: 'The Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #9681af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
}

/* Navbar Styles */

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.navbar-brand {
  font-family: 'Love Light', cursive;
  font-size: 2rem;
  color: rgb(255, 255, 255) !important;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}

.dropdown-item {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1rem;
}

.dropdown-menu {
  padding: 0;
  min-width: 10rem;
}

.navbar-nav .nav-link {
  transition: transform 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}

/* Home Section Styles */

#home {
  position: relative; 
  text-align: center;
  padding: 2rem;
}

#home img {
  max-width: 100%;
  height: auto;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.social-media-icons a {
  color: #e7d0e3;
  transition: color 0.3s ease;
  text-decoration: none;
  
  
}

.social-media-icons a:hover {
  color: #d15ccb;
   transform: scale(1.3);
}

.social-media-icons i {
  font-size: .8rem;
}

/* Music Section Styles */

.play-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 1;
  mix-blend-mode: multiply; /* Add this line */
}

.play-button img {
  width: 3rem;
  height: auto;
  mix-blend-mode: multiply;
}

.play-button:hover {
  transform: scale(1.2);
  mix-blend-mode: multiply;
}

/* Bio Section Styles */
#bio-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: none;
}

#bio-section .bio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-image: url('https://scontent.fceb1-3.fna.fbcdn.net/v/t39.30808-6/463548350_10211455719504027_1093416894113218274_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=53XpTu3DxO8Q7kNvwFXPKMo&_nc_oc=AdlMFiq4EQMGEdtw2Weye1ZIagmtG83sEdtIz5NuRSuyih9_oKUcwrZR00KXe8vl46g&_nc_zt=23&_nc_ht=scontent.fceb1-3.fna&_nc_gid=45b6iR62J7uJqS1mCrkATQ&oh=00_AfLS0W1zMRlDyMj0g-ZDkN5pPU8wpDssxSqsdD4jFzEOvw&oe=68422507');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#bio-section .bio-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 0.25rem;
  width: 50rem;
  height: auto;
  font-size: 1.1vw !important;
}

#bio-section .bio-image {
  position: absolute;
  top: 1rem;
  left: 20rem;
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
  
}
#bio-section .bio-image img {
  width: 15rem;
  height: auto;
  border: 0.5rem solid hsl(280, 2%, 33%);
  border-radius: .5rem; 
}

/* Hobbies Section Styles */

.hobby-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px;
  border: 3px solid #ddd;
}

/* Photo/Video Section Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 128px);
  gap: 2rem;
  justify-content: center;
}

.grid-item {
  margin: 0;
  padding: 0;
  text-align: center;
}

.grid-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.grid-item p {
  font-size: 12px;
  margin-top: 5px;
  color: #fff;
}

/* Footer Styles */

.footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
}

/* Media Queries */

@media (max-width: 3xl) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
  }

  .play-button img {
    width: 2rem;
    height: auto;
  }

  .social-media-icons i {
    font-size: 1.2rem;
  }
}



@media (max-width: 1024px) {

  /* bio styles*/
 #bio-section .bio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-image: url('https://scontent.fceb1-3.fna.fbcdn.net/v/t39.30808-6/463548350_10211455719504027_1093416894113218274_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=53XpTu3DxO8Q7kNvwFXPKMo&_nc_oc=AdlMFiq4EQMGEdtw2Weye1ZIagmtG83sEdtIz5NuRSuyih9_oKUcwrZR00KXe8vl46g&_nc_zt=23&_nc_ht=scontent.fceb1-3.fna&_nc_gid=45b6iR62J7uJqS1mCrkATQ&oh=00_AfLS0W1zMRlDyMj0g-ZDkN5pPU8wpDssxSqsdD4jFzEOvw&oe=68422507');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw; 
  height: auto; 
  margin: 0;
   overflow-x: hidden;
}

  #bio-section .bio-text {
    top: 80%;
    width: 50rem;
    font-size: 2.5vw !important;
  }

  #bio-section .bio-image {
    top: .3rem;
    left: -.3rem;
  }

  #bio-section .bio-image img {
    width: 13rem;
    border: 0.3rem solid hsl(280, 2%, 33%);
  }

  /* Photo/Video Section Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 128px);
  gap: 2rem;
  justify-content: center;
}

.grid-item {
  margin: 0;
  padding: 0;
  text-align: center;
}

.grid-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.grid-item p {
  font-size: 12px;
  margin-top: 5px;
  color: #fff;
}


  .footer {
  font-size: 0.5rem;
}

.social-media-icons i {
  font-size: .7rem;
}

  .play-text {
   font-size: 7px !important;
  color:#474343;
  margin-top: -.7vh !important;
}


}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

/* bio styles*/
 #bio-section .bio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-image: url('https://scontent.fceb1-3.fna.fbcdn.net/v/t39.30808-6/463548350_10211455719504027_1093416894113218274_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=53XpTu3DxO8Q7kNvwFXPKMo&_nc_oc=AdlMFiq4EQMGEdtw2Weye1ZIagmtG83sEdtIz5NuRSuyih9_oKUcwrZR00KXe8vl46g&_nc_zt=23&_nc_ht=scontent.fceb1-3.fna&_nc_gid=45b6iR62J7uJqS1mCrkATQ&oh=00_AfLS0W1zMRlDyMj0g-ZDkN5pPU8wpDssxSqsdD4jFzEOvw&oe=68422507');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw; 
  height: auto; 
  margin: 0;
   overflow-x: hidden;
}

  #bio-section .bio-text {
    top: 80%;
    width: 30rem;
    font-size: 3.5vw !important;
  }

  #bio-section .bio-image {
    top: .3rem;
    left: -.3rem;
  }

  #bio-section .bio-image img {
    width: 10rem;
    border: 0.3rem solid hsl(280, 2%, 33%);
  }
/* play button styles*/
  .play-button img {
    width: 1.5rem;
    height: auto;
    mix-blend-mode: multiply; /* Add this line */
  }

/* soc med styles*/
  .social-media-icons i {
    font-size: 1rem;
  }


  /* footer styles*/
    .footer {
  font-size: 0.5rem;
}

.social-media-icons i {
  font-size: .7rem;
}

  /* Photo/Video Section Styles */
  .grid-container {
    grid-template-columns: repeat(4, 60px);
    gap: 1.5rem;
  }
  .grid-item img {
    width: 60px;
    height: 60px;
  }

  .play-text {
   font-size: 6.8px !important;
  color:#474343;
  margin-top: -.8vh !important;
}



}
