
* {
  font-family: 'Montserrat', sans-serif ;
}


body {
background-color: #9681af;
min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 250;

}
.footer {
  margin-top: auto;
  font-size: 1.5vh;
}



/* Paet's Haven */
.navbar-brand {
    font-family: 'Love Light', cursive !important;
    font-size: 50px !important; /* adjust to your desired size */
    color: rgb(247, 231, 242) !important;  
    
}


/* Paet's Haven */

/* Bio Section */
.bio-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  background-image: url('img/fam.jpg');
  background-size: cover;
  background-position: center;
}

.profile-picture {
  width: 100%;
  height: auto;
  max-width: 250px;
  border: 3px solid #fff;
  border-radius: 10px;
}

.bio-text {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.1vw;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
/* Bio Section */


/* hobbies Section */

.hobby-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px;
  border: 3px solid #ddd;
}

/* hobbies Section */



/* Menu */
.navbar-nav .nav-link {
  font-size: 20px; /* adjust to your desired size */
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  
}


.dropdown-item {
  font-size: 18px; /* adjust to your desired size */
  text-align: center;
  padding: 5px 10px; /* adjust the padding as needed */
}
.dropdown-menu {
  padding: 0;
  min-width: 10px; /* adjust the width as needed */
  
}
/* Menu */

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}
.welcome-note {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 100px 0;
  color: #fff;
}
.section-title {
  margin-bottom: 30px;
}
.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.welcome-note {
  padding: 10vh 0;
}

.welcome-note .container {
  max-width: 700px; /* adjust this value */
  margin: 0 auto;
  padding: 0 20px;
}

.welcome-note .lead {
  font-size: calc(16px + 0.5vw); /* responsive font size */
  line-height: 1.5;
}

.navbar-brand {
  font-weight: 500; /* medium bold */
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-brand:hover {
  
  transform: scale(1.1);
}

/* Photo Section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  aspect-ratio: 1 / 1;
  max-width: 500px; /* adjust the width to your preference */
  margin: 0 auto;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}




@media only screen and (orientation: portrait) {



.img-fluid {
  position: absolute;
  width: 30vw !important;
  height: auto;
  left: 4vw;
  margin-top: -1vh;

}

.rounded {
  border-radius: 10px;
}

.border-light {
  border: 3px solid #fff;
}



#bio-section p {
  background-color: rgba(0, 0, 0, 0.5) !important;
  font-size: 3vw !important;
  padding: 10px !important;
  border-radius: 10px !important;
  color: #fff !important;
  position: absolute !important;
  top: 95vh !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
  width: 93vw !important;
  margin: 0 !important;
}


}