/* Global Styles */

* {
  font-family: 'The Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9681af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 250;
}

/* Navbar Styles */

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.navbar-brand {
  font-family: 'Love Light', cursive;
  font-size: 2rem;
  color: rgb(247, 231, 242);
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dropdown-item {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1rem;
}

.dropdown-menu {
  padding: 0;
  min-width: 10rem;
}

/* Home Section Styles */

#home {
  position: relative; /* Add this to make the play button relative to the #home container */
  text-align: center;
  padding: 2rem;
}

#home img {
  max-width: 100%;
  height: auto;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.social-media-icons a {
  color: #e7d0e3;
  transition: color 0.3s ease;
  text-decoration: none;
  
}

.social-media-icons a:hover {
  color: #d15ccb;
}

.social-media-icons i {
  font-size: .8rem;
}

/* Music Section Styles */

.play-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 1;
  mix-blend-mode: multiply; /* Add this line */
}

.play-button img {
  width: 3rem;
  height: auto;
  mix-blend-mode: multiply;
}

.play-button:hover {
  transform: scale(1.2);
  mix-blend-mode: multiply;
}

/* Bio Section Styles */


#bio-section {
  padding: 2rem;
}


 #bio-section .container {
  background-image: url('img/fam.jpg');
 }

#bio-section img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  border: 3px solid #fff;
}

#bio-section p {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  margin-top: 35rem;
}

/* Hobbies Section Styles */

.hobby-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px;
  border: 3px solid #ddd;
}

/* Photo Section Styles */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer Styles */

.footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
}

/* Media Queries */

@media (max-width: 3xl) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
  }

  .play-button img {
    width: 2rem;
    height: auto;
  }

  .social-media-icons i {
    font-size: 1.2rem;
  }
}

@media (max-width: 2xl) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: xl) {
  #bio-section p {
    font-size: 2rem;
  }
}

@media (max-width: lg) {
  .play-button {
    position: relative;
    top: 0;
    right: 0;
  }

  .social-media-icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {


  #bio-section .container {
  background-image: url('img/fam.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
}


  #bio-section p {
  font-size: 0.8rem !important;
  margin-top: 13rem;
  width: 115%; /* or any width you want */
  margin-left: -7%; /* adjust this value based on the width */
  text-align: center;
}
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  #bio-section img {
    width: 50%;
    height: auto;
  }

  .footer {
  font-size: 0.5rem;
}

.social-media-icons i {
  font-size: .7rem;
}

}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.2rem;
  }


   #bio-section .container {
  width: 114%; /* or any width you want */
  margin-left: -7%; /* adjust this value based on the width */
  text-align: center;
}


#bio-section p {
  font-size: 0.8rem !important;
  margin-top: 13rem;
  width: 115%; /* or any width you want */
  margin-left: -7.5%; /* adjust this value based on the width */
  text-align: center;
}
  .play-button img {
    width: 1.5rem;
    height: auto;
    mix-blend-mode: multiply; /* Add this line */
  }

  .social-media-icons i {
    font-size: 1rem;
  }

    .footer {
  font-size: 0.5rem;
}

.social-media-icons i {
  font-size: .7rem;
}


}